/* font section */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



*{
    margin: 0;
}


/* header section start */

.header{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 16px;
}

.headerdiv{
    color: aliceblue;
    text-align: center;
}
#newyear{
    font-size: 26px;
    font-weight: 400;
    font-family: Merriweather;
}
#bannerheading{
    font-size: 50px;
    font-weight: 900;
    margin-top: 8px;
    font-family: Merriweather;
}

/* header section over */


/* Secion 1 start here */

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.section1 >h1{
    font-size: 70px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    max-width: 1320px;
    margin: 0 auto;
    font-family: Inter;
}

.section1 >p{
    font-size: 18px;
    color: rgb(255, 0, 0);
    letter-spacing: 0%;
    font-family: Inter;
    font-weight: 500;
    margin-top: 10px;
    
}
.section1 >h2{
    font-size: 35px;
    columns: rgb(7, 2, 17);
    font-family: Inter;
    font-weight: 700;
    margin-top: 10px;
}
.section1 >img{
    margin-top: 50px;
}

/* Secion 1 over here */

/* section 2 start here  */

.section2{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    margin-top: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
    

    
}

.sectiondiv1{
    color: aliceblue;
    padding-left: 126px;
    
}

.sectiondiv1 >h1{
    font-size: 55px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    letter-spacing: 6px;
    font-family: Merriweather;
    font-weight: 900;
}

.sectiondiv1 >p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 15px;
    font-family: Inter;
}
.sectiondiv1 >h3{
    font-size: 23px;
    font-weight: 700;
    padding: 80px;
    font-family: Inter;
}

.imagediv{
    padding-right: 108px;
}

/* section2 over here  */


/* section3 start here  */

.section3{
    max-width: 1320px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3 >p{
   
    font-size: 25px;
    font-weight: 600;
    line-height: 56px;
    font-family: Inter;
}

.section3 >p span{
    color: 
    rgb(255, 0, 0);
}
.section3 > button{
    border: none;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    padding: 13px 32px 16px 32px;
    color: aliceblue;
    font-weight: bolder;
    margin-top: 20px;
    font-weight: 700;font-family: Inter;
}

/* section3 over here  */


/* section4 start here  */

.section4{
    width: 1320px;
    height: 463px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 126px;
}


.s4div1 >h3{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-top: 104px;
    font-family: Inter;
}
.s4div1 >h1{
    font-size: 50px;
    font-weight: 900;
    margin-top: 20px;
    font-family: Merriweather;
}

.s4div1 >p{
  color: rgba(7, 2, 17, 0.6);
  font-weight: 400;
  font-size: 21px;
  margin-top: 20px;
  font-family: Inter;
}

.s4div2{
    width: 364.84px;
    height: 364.84px;
}

.s4div3 >h1{
    font-size: 48px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    font-weight: 700;
    margin-top: 112px;
    font-family: Inter;
    
}
.s4div3 >p{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 20px;
    font-family: Inter;

}

.s4div3 >img{
    margin-top: 25px;
}

/* section4 over here  */


/* section 5 start here  */

.section5{
    background-image: url('../images/Rectangle\ 2.png');
    max-width: 1320px;
    height: 900px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 50px;
}

.sec5text >p{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;

}
.sec5text >h1{
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding-top: 10px;
    font-family: Merriweather;
}
.sec5text >.otherp{
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
    padding-top: 25px;

}
.sec5text >h1 >span{
    color: rgb(255, 0, 0);
}




.discount-gift{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}

.giftbox{
    margin-top: 100px;
}

.discount{
    margin-top: 100px; 
}

/* section5 over here  */



/* section6 start here  */

.section6{
    max-width: 1320px;
    
    margin: 0 auto;
    margin-top: 120px;
}
.section6 >h3{
    font-size: 22px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    font-family: Inter;
}
.section6 >h1{
    font-size: 48px;
    font-weight: 900;
    color: rgb(7, 2, 17);
    margin-top: 15px;
    font-family: Merriweather;
 }

 .section6 >p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-top: 18px;
    font-family: Inter;
 }




.productbox{
    display: flex;
    flex-wrap: wrap;
    row-gap: 19px;
    column-gap: 24px;
    margin-top: 50px;
    margin-top: 70px;
}

/* section6 over here  */


/* section 7 start here  */

.section7{
    max-width: 1320px;
    height: 616px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
   
}

.section7div1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}

.email{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
}

.section7 > .section7div1 >h1{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
    font-family: Merriweather;
    margin-top: 30px;
    
   
}

.section7 >.section7div1 >p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    font-family: Inter;
}



.email1{
    border: none;
    border-radius:  50px 0 0 50px;
    width: 350px;
    height: 70px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
}

.Subscribe{
    background-color: rgb(255, 0, 0);
    border-radius: 0 50px 50px 0;
    border: none;
    width: 160px;
    height: 72px;
    margin-top: 14px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    
}

/* section 7 over here  */

/* footer start here  */


footer{
    background-color: rgb(7, 2, 17);
    height: 609px;
    
    margin: 0px;
    
    
}

.fmaindiv{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    max-width: 1185px;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 120px;
   
}

.fsubdiv1 >p{
    font-size: 21px;
    line-height: 40px;
    font-family: Inter;
}




.fsubdiv2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    
    

}

.call{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.call >p{
    padding-left: 10px;
    font-size: 21px;
    font-family: Inter;
}


.web{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    
}

.web >p{
    padding-left: 12px;
    font-size: 21px;
    font-family: Inter;
    
}


.socialicon{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.copyright{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    padding-top: 120px;

}

.copyright1{

    padding-left: 140px;
    font-family: Inter;
}

.Unsubscribe{
    padding-right: 30px;
    font-family: Inter;
}

